:has(> picture.bgImg) {
    position: relative;
    isolation: isolate;
}

picture.bgImg {
    position: absolute;
    inset: 0;
    z-index: -1;
}

picture.bgImg > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: var(--vn-bg-position, center);
    user-select: none;
    pointer-events: none;
}
