#vn-game-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    isolation: isolate;
}

.vn-overlay {
    opacity: 1;
    visibility: visible;
    transition-property: opacity, visibility;
    transition-duration: 1s, 0s;
    transition-timing-function: ease;
}
.vn-overlay.hidden {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.5s, 0s;
    transition-delay: 0s, 0.5s;
    transition-timing-function: ease;
}