/* ================================================== */
/*                      VARIABLES                     */
/* ================================================== */


/* Colors */

@property --clr-primary {
  syntax: '<color>';
  inherits: false;
  initial-value: #646cff;
}

@property --clr-bg {
  syntax: '<color>';
  inherits: false;
  initial-value: #242424;
}

@property --clr-text {
  syntax: '<color>';
  inherits: false;
  initial-value: #eee;
}


/* Spinner */

@property --spinner-size {
  syntax: '<length>';
  inherits: false;
  initial-value: 80px;
}

@property --spinner-top-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #eee;
}

@property --spinner-color {
  syntax: '<color>';
  inherits: false;
  initial-value: rgba(255 255 255 / 0.2);
}

@property --spinner-speed {
  syntax: '<time>';
  inherits: false;
  initial-value: 1s;
}



/* ================================================== */
/*                     ANIMATIONS                     */
/* ================================================== */


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}



/* ================================================= */
/*                        CSS                        */
/* ================================================= */


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--clr-text);
  background-color: var(--clr-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  height: 100vh;
  background-color: var(--clr-bg);
}

#root, #app {
  height: 100%;
}

.vn-is-loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}