/* ================================================== */
/*                      VARIABLES                     */
/* ================================================== */


/* Colors */

@property --clr-primary {
  syntax: '<color>';
  inherits: false;
  initial-value: #646cff;
}

@property --clr-bg {
  syntax: '<color>';
  inherits: false;
  initial-value: #242424;
}

@property --clr-text {
  syntax: '<color>';
  inherits: false;
  initial-value: #eee;
}


/* Spinner */

@property --spinner-size {
  syntax: '<length>';
  inherits: false;
  initial-value: 80px;
}

@property --spinner-top-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #eee;
}

@property --spinner-color {
  syntax: '<color>';
  inherits: false;
  initial-value: rgba(255 255 255 / 0.2);
}

@property --spinner-speed {
  syntax: '<time>';
  inherits: false;
  initial-value: 1s;
}


/* Credits */

@property --credits-scroll-time {
  syntax: '<time>';
  inherits: false;
  initial-value: 30s;
}



/* ================================================== */
/*                     ANIMATIONS                     */
/* ================================================== */


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide-bottom-to-top {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}



/* ================================================= */
/*                        CSS                        */
/* ================================================= */


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--clr-text);
  background-color: var(--clr-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sr-only {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  height: 100vh;
  background-color: var(--clr-bg);
}

#root, #app {
  height: 100%;
}

.h-100 {
  height: 100%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 3rem);
}

h3 {
  font-size: clamp(1.25rem, 3vw, 2rem);
}

p {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}


/* ====================== */
/*         PLAYER         */
/* ====================== */

#vn-player {
  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 100vh;
  overflow: hidden;
}


/* ========================== */
/*         TITLE PAGE         */
/* ========================== */

.vn-titlepage {
  gap: 2rem;
}